.cover__subtitle {
    justify-self: center;
    margin: 32px 0 0;
    padding: 0px;
    max-width: 360px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width:767px) {
    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
        margin-top: 16px;
    }
}
