.place__text {
    align-self: start;
    font-weight: normal;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .place__text {
        width: calc(100% - 2*16px);
        padding: 0;
        align-items: center;
        margin: 0 auto;
    }
}