.place__url {
    align-self: end;
}

@media screen and (max-width:1279px) {
    .places {
        max-width: 928px;
    }
    .place {
        grid-template-rows: auto minmax(440px);
        column-gap: 32px;
        margin: 0 auto 80px;
    }
    .place__image {
        max-width: 440px;
        height: 440px;
        object-fit: cover;  
    }
}

@media screen and (max-width:767px) {
    .place__url {
        display: none;
    }
}